# Client Environment Variables
VITE_API_URL=http://localhost:5000/api

# reCAPTCHA Configuration
VITE_RECAPTCHA_SITE_KEY=6LcLUIkrAAAAAAEhbhqGdyii6YPy93ghOu1B0N0E

# Other Configuration
VITE_APP_NAME=Cyber Security Portfolio
VITE_APP_VERSION=1.0.0 